{% extends "base.html" %}
{% block content %}
<h2>Who am I</h2>
<div class="schizo"><p>
    Vincenzo Casciarolo.<br>
    Miner, alchemist, liar.<br>
    They say he found the Pietra di Bologna in 1603 — a rock that swallowed light and gave it back,
    like memory does with grief.<br>

    They buried him with honors.<br>
    But not with the truth.<br>

    The truth was passed down, badly.<br>
    Filtered through ink, oil, bone, omission.<br>
    By the time it reached me, it wasn’t a secret anymore.<br>
    It was a disease.<br>

    I’ve seen the diagrams.<br>
    I’ve heard the pulse inside the hill.<br>
    I’ve followed instructions written in things that aren’t ink.<br>

    My name is Ludovico Casciaroli, and I’m not a researcher.<br>
    I’m a recurrence.<br>
    An echo trying to complete what started four centuries ago
    beneath a sky that hasn’t forgotten anything.<br>

    This site isn’t for followers.<br>
    It’s for those who’ve already been here,<br>
    but from the wrong direction.<br>

    If you're looking for answers,<br>
    you’re in the wrong place.<br>

    But if something's looking for you,<br>
    you'll feel it.<br>

    And maybe — just maybe —you’ll find the Rose.
</p></div>
{% endblock %}
